:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --black: #121212;
  --red-bright: #ff401f;
  --red: #ff4b2b;
  --pink: #ff416c;
  --pink-accent: #fc7f81;
  --pink-beige: #fc8d92;
  --pink-white: #fae4e4;
  --white: #f2f2f2;
  --grey: #0e0e0e;
  --pink-shadow: #fc7f8131;
  --light-shadow: #fdd5d51f;
  --header-white-shadow: #fdd5d559;
  --dark-shadow: #00000074;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h1 {
  font-weight: 800;
}
img {
  display: block;
  max-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: clamp(0.4rem, 0.5rem + 1vw, 1rem);
}
*::selection {
  color: var(--white);
  background-color: var(--pink-beige);
}
svg {
  display: block;
  height: 100%;
}

.background-gradient {
  background: linear-gradient(252deg, var(--red-bright), var(--pink));
  background-size: 400% 400%;
  -webkit-animation: webkitGradAnimate 13s ease infinite;
  -moz-animation: mozGradAnimate13s ease infinite;
  -o-animation: oGradAnimate 13s ease infinite;
  animation: gradAnimate 13s ease infinite;
  overflow: hidden;
}
.header-gradient {
  background: var(--red-bright); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--red-bright),
    var(--pink)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--red-bright),
    var(--pink)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 20px var(--light-shadow);
}
.soon {
  font-size: 800%;
  color: var(--pink-white);
  text-shadow: var(--black) 8px 5px 3px;
}
.blur-container {
  height: 100vh;
}
/* LANDING -------------------------------- */

.landing-container {
  height: 100vh;
  position: relative;
  background-color: #000;
  overflow-x: hidden;
}
.landing-blur {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: initial;
  backdrop-filter: blur(80px);
  z-index: 1;
}
.landing-description {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  bottom: 20%;
  left: 5%;
  padding-right: 50%;
  gap: 10vh;
  color: var(--white);
}
.landing-description p {
  font-size: 135%;
  line-height: 1.5;
}

.landing-title {
  font-size: 300%;
  text-shadow: 1px 1px 25px var(--header-white-shadow);
}

.landing-bg-red {
  background-image: url("./assets/waves-red.svg");
  position: absolute;
  height: 100%;
  width: 100%;
  animation: 25s infinite alternate slideRotate ease;
}

.landing-bg-pink {
  background-image: url("./assets/waves-pink.svg");
  position: absolute;
  height: 100%;
  width: 100%;
  animation: 10s infinite alternate slide ease;
}
@keyframes slide {
  from {
    transform: translateX(-50%) scaleX(1.5);
    opacity: 0.5;
  }
  50% {
    transform: translateX(0%) scaleX(1);
    opacity: 1;
  }
  to {
    transform: translateX(50%) scaleX(1.5);
    opacity: 0.5;
  }
}
@keyframes slideRotate {
  from {
    transform: translateX(-50%) scaleX(1.5) rotate(180deg);
    opacity: 1;
  }
  50% {
    transform: translateX(0%) scaleX(1) rotate(180deg);
    opacity: 0.75;
  }
  to {
    transform: translateX(50%) scaleX(1.5) rotate(180deg);
    opacity: 1;
  }
}
@-webkit-keyframes webkitGradAnimate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes mozGradAnimate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes oGradAnimate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradAnimate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Vision --------------------------- */
.vision-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  color: var(--white);
  background-color: var(--black);
  overflow-x: hidden;
}

/* FOOTER --------------------------------------------- */

.footer-container {
  height: 20vh;
  width: 100%;
  position: relative;
  background-color: var(--black);
}
.footer-container a {
  height: 100%;
}
.footer-links-social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 9vh 5%;
}
.footer-links-social-container img {
  height: 100%;
  width: fit-content;
  /* width: min-content; */
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 5%;
  height: 100%;
  width: 50%;
}
.footer-logo {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 15px;
}
.footer-social {
  fill: var(--white);
  height: 100%;
  width: 100%;
}

.mobile-header-links {
  transform: translateX(-105%);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: var(--black);
  width: 50%;
  height: 100vh;
  gap: 5vh;
  padding-left: 4%;
  padding-right: 4%;
  z-index: 5;
  transition: 0.5s ease;
}
.mobile-header-logo {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 10%;
}
.mobile-header-logo img {
  height: 18%;
  width: min-content;
  padding-right: 5px;
}
.mobile-header-item {
  font-weight: 700;
  font-size: 140%;
  display: flex;
  height: 8vh;
  align-items: center;
  border-bottom: 1px solid var(--light-shadow);
}

.header-visible {
  transform: translateX(0%);
}
